@import "abstracts/variables";

@import '~bourbon';
@import '~bootstrap-4-grid/scss/grid';

@import "abstracts/functions";
@import "abstracts/mixins";

@import "base/reset";
@import "base/typography";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: none;
  @include text();
  &.scroll-lock {
    overflow: hidden;
    touch-action: none;
  }
}

.container {
  @include padding(null $container-padding);
  @include media-breakpoint-down(sm) {
    @include padding(null $container-padding-sm);
  }
}

.img-responsive {
  max-width: 100%;
  height: auto;
}